{% load static %}
{% include "ngs/header.html" %}

<!DOCTYPE html>
<html>
  <head>
    <title>Order Request History</title>
    <!-- <link rel = "stylesheet" type="text/css" href="{% static 'css/test.css' %}" media="screen"> -->
    <style type="text/css">
  
      .input *{
        font-size: 16px;
        margin:10px; 
        }

      
     
    </style>
  </head> 
  <body>
    
    <div class = "input">
      
        <h1>History</h1>
        {% if orders %}
        <h2>Orders</h2>
        <ul>
        {% for order in orders %}
          <li>
            <h3>{{ order.dish_post.dish.name }}</h3>
            <p>{{ order.dish_post.dish.description }}</p>
            <table>
              <tr>
                <td>Meal Time</td><td>{{order.dish_post.meal_time}}</td>
              </tr>
              <tr>
                <td>Chef</td><td>{{order.dish_post.chef.user.username}}</td>
              </tr>
              <tr>
                <td>Serving Price</td><td>${{order.dish_post.price}}</td>
              </tr>
              <tr>
                <td>Servings Ordered</td><td>{{order.num_servings}}</td>
              </tr>
              <tr>
                <td>Total</td><td>${{ order.total }}</td>
              </tr>
            </table>
          </li>
        {% endfor %}
        </ul>
        {% endif %}

        {% if requests %}
        <h2>Requests</h2>
        <ul>
        {% for request in requests %}
          <li>
            <h3>{{ request.dish.name }}</h3>
            <p>{{ request.dish.description }}</p>
            <table>
              <tr>
                <td>Meal Time</td><td>{{request.meal_time}}</td>
              </tr>
              <tr>
                <td>Portion Size</td><td>{{request.portion_size}}</td>
              </tr>
              <tr>
                <td>Servings Ordered</td><td>{{request.num_servings}}</td>
              </tr>
              <tr>
                <td>Serving Price</td><td>{{request.price}}</td>
              </tr>
              <tr>
                <td>Total</td><td>{{request.total}}</td>
              </tr>
            </table>
          </li>
        {% endfor %}
        </ul>
        {% endif %}

    </div>
  </body>


</html>
















<!-- 

<h1>History</h1>
{% if orders %}
<h2>Orders</h2>
<ul>
{% for order in orders %}
  <li>
    <h3>{{ order.dish_post.dish.name }}</h3>
    <p>{{ order.dish_post.dish.description }}</p>
    <table>
      <tr>
        <td>Meal Time</td><td>{{order.dish_post.meal_time}}</td>
      </tr>
      <tr>
        <td>Chef</td><td>{{order.dish_post.chef.user.username}}</td>
      </tr>
      <tr>
        <td>Serving Price</td><td>${{order.dish_post.price}}</td>
      </tr>
      <tr>
        <td>Servings Ordered</td><td>{{order.num_servings}}</td>
      </tr>
      <tr>
        <td>Total</td><td>${{ order.total }}</td>
      </tr>
    </table>
  </li>
{% endfor %}
</ul>
{% endif %}

{% if requests %}
<h2>Requests</h2>
<ul>
{% for request in requests %}
  <li>
    <h3>{{ request.dish.name }}</h3>
    <p>{{ request.dish.description }}</p>
    <table>
      <tr>
        <td>Meal Time</td><td>{{request.meal_time}}</td>
      </tr>
      <tr>
        <td>Portion Size</td><td>{{request.portion_size}}</td>
      </tr>
      <tr>
        <td>Servings Ordered</td><td>{{request.num_servings}}</td>
      </tr>
      <tr>
        <td>Serving Price</td><td>{{request.price}}</td>
      </tr>
      <tr>
        <td>Total</td><td>{{request.total}}</td>
      </tr>
    </table>
  </li>
{% endfor %}
</ul>
{% endif %}
 -->