.fix{overflow:hidden}
*{margin-bottom: 10px;}

body{background-color:rgb(242,242,242);}

.input{

		width: 400px;
		height: auto;
	
		margin: 0 auto;
		margin-top: 100px;
		padding-top: 20px;
		padding-left: 50px;
		border-radius: 20px;
		-webkit-border-radius:20px;
		-moz-border-radius:20px;
		-o-border-radius:20px;
		font-family: arial;
		color: #555;
		margin-bottom: 160px;
		padding-bottom: 120px;
	}

.input button {
        background-color: #ffd34e;
        border: 0 none;
        border-radius: 10px;
        font-size: 20px;
        height: 36px;
        margin-bottom: 20px;
        margin-left: 0px;
        margin-top: 54px;
        width: 140px;
        float: left;
        margin-right: 20px;
      }

.input button:hover, #current{background-color: rgb(106,187,155);}


p{color:red;}

.input a{
	color: #777;
	background: #ffd32e;
	padding: 7px;
	margin-right: 16px;
	font-weight: bold;
	border-radius: 10px;
}

.input a:hover, #current{background-color: rgb(106,187,155);color:black;}


.dish_name{
	border: solid 1px #ffd32e;
	border-radius: 15px;
	margin-bottom: 26px;
	background-color:rgb(238,235,232);
	padding: 26px;
	font-size: 17px;
}

.order_dish{
	border: solid 1px #ffd32e;
	border-radius: 15px;
	margin-bottom: 26px;
	background-color:rgb(238,235,232);
	padding: 26px;
	font-size: 17px;
}

.bid{
	border: solid 1px #ffd32e;
	border-radius: 15px;
	margin-bottom: 26px;
	background-color:rgb(238,235,232);
	padding: 26px;
	font-size: 17px;
}